.env
env
.venv
.idea
__pycache__/
*.pyc
*.egg-info
.DS_Store

# keys
*svc*.json
config.yaml
.ipynb_checkpoints

embeddings
indexes
.pytest_cache
wandb
*third_party*
build
functions
notebooks
scripts
.vscode
data
*gitpod*
Makefile
README.md
