

# Format: #/name defines a new extras_require group called name
# Uncommented lines after the group definition insert things into that group.

#/ai
openai
confuse
transformers
autofaiss==2.5.0
sentence_transformers
torch
datasets

#/functions
grpcio==1.40.0
grpcio-tools==1.40.0
grpc-gateway-protoc-gen-openapiv2
google-api-python-client
protobuf
sentry-sdk